<div class="modal-dialog">
  <div class="modal-content">

    <h2><span class="label label-info label-block">Preview Configuration</span></h2>

    <div class="modal-header" align="center">
      <img class="img" id="img_logo" height="10%" weight="10%" src="/assets/batch_batch_data.jpg" >
      </button>
    </div>
    <div id="div-forms">
      <div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @zone.numberofslots %>
</p>

<p>
  <strong>Numberofslots:</strong>
  <%= @zone.numberofslots %>
</p>

<p>
  <strong>Numberfree:</strong>
  <%= @zone.numberfree %>
</p>

<p>
  <strong>User:</strong>
  <%= @zone.site.name %>
</p>
        <br/>
        <div class="modal-footer">
          <div class="actions">
            <%= link_to 'Edit', edit_zone_path(@zone) , :class => 'btn btn-warning '  %>
            <%= link_to 'Back', zones_path , :class => 'btn btn-default '  %>
          </div></div>

</div></div></div></div>